{
	"openapi": "3.0.3",
	"info": {
		"title": "Frontal Public API",
		"version": "1.0.0",
		"description": "Public API synchronized from frontal gateway route inventory and endpoint catalog.",
		"contact": {
			"name": "API Support",
			"url": "https://github.com/frontal-labs/openapi/issues"
		},
		"license": {
			"name": "MIT License",
			"url": "https://github.com/frontal-labs/openapi/blob/main/LICENSE"
		}
	},
	"servers": [
		{
			"url": "https://api.frontal.dev",
			"description": "Production server"
		},
		{
			"url": "https://us.api.frontal.dev",
			"description": "Production server (US region)"
		},
		{
			"url": "https://eu.api.frontal.dev",
			"description": "Production server (EU region)"
		},
		{
			"url": "https://ap.api.frontal.dev",
			"description": "Production server (AP region)"
		},
		{
			"url": "https://staging-api.frontal.dev",
			"description": "Staging server"
		}
	],
	"tags": [
		{
			"name": "action-runs",
			"description": "Synchronized action-runs endpoints"
		},
		{
			"name": "adapter-services",
			"description": "Synchronized adapter-services endpoints"
		},
		{
			"name": "auth",
			"description": "Synchronized auth endpoints"
		},
		{
			"name": "connection-tests",
			"description": "Synchronized connection-tests endpoints"
		},
		{
			"name": "data",
			"description": "Synchronized data endpoints"
		},
		{
			"name": "events",
			"description": "Synchronized events endpoints"
		},
		{
			"name": "health",
			"description": "Synchronized health endpoints"
		},
		{
			"name": "integrations",
			"description": "Synchronized integrations endpoints"
		},
		{
			"name": "invocations",
			"description": "Synchronized invocations endpoints"
		},
		{
			"name": "observability",
			"description": "Synchronized observability endpoints"
		},
		{
			"name": "ontology",
			"description": "Synchronized ontology endpoints"
		},
		{
			"name": "providers",
			"description": "Synchronized providers endpoints"
		},
		{
			"name": "regions",
			"description": "Synchronized regions endpoints"
		},
		{
			"name": "resolve",
			"description": "Synchronized resolve endpoints"
		},
		{
			"name": "runs",
			"description": "Synchronized runs endpoints"
		},
		{
			"name": "storage",
			"description": "Synchronized storage endpoints"
		},
		{
			"name": "triggers",
			"description": "Synchronized triggers endpoints"
		},
		{
			"name": "webhook-endpoints",
			"description": "Synchronized webhook-endpoints endpoints"
		},
		{
			"name": "workflows",
			"description": "Synchronized workflows endpoints"
		}
	],
	"paths": {
		"/health": {
			"get": {
				"summary": "GET /health",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_health",
				"tags": ["health"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["docs/api-audit/route-catalog.json"],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/regions": {
			"get": {
				"summary": "GET /regions",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_regions",
				"tags": ["regions"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["docs/api-audit/route-catalog.json"],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/resolve": {
			"get": {
				"summary": "GET /resolve",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_resolve",
				"tags": ["resolve"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["docs/api-audit/route-catalog.json"],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/action-runs/{actionRunId}": {
			"parameters": [
				{
					"name": "actionRunId",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string"
					},
					"description": "Path parameter: actionRunId"
				}
			],
			"get": {
				"summary": "GET /v1/action-runs/{actionRunId}",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_action_runs_actionrunid",
				"tags": ["action-runs"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"frontal/backend/integrations/src/rest/routes/action-runs.controller.ts"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/adapter-services/": {
			"get": {
				"summary": "GET /v1/adapter-services/",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_adapter_services",
				"tags": ["adapter-services"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["workflows/backend/engine/internal/api/http.go"],
				"x-frontal-sync-date": "2026-05-13",
				"x-frontal-any": true
			},
			"post": {
				"summary": "POST /v1/adapter-services/",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "post_v1_adapter_services",
				"tags": ["adapter-services"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["workflows/backend/engine/internal/api/http.go"],
				"x-frontal-sync-date": "2026-05-13",
				"x-frontal-any": true
			},
			"put": {
				"summary": "PUT /v1/adapter-services/",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "put_v1_adapter_services",
				"tags": ["adapter-services"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["workflows/backend/engine/internal/api/http.go"],
				"x-frontal-sync-date": "2026-05-13",
				"x-frontal-any": true
			},
			"patch": {
				"summary": "PATCH /v1/adapter-services/",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "patch_v1_adapter_services",
				"tags": ["adapter-services"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["workflows/backend/engine/internal/api/http.go"],
				"x-frontal-sync-date": "2026-05-13",
				"x-frontal-any": true
			},
			"delete": {
				"summary": "DELETE /v1/adapter-services/",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "delete_v1_adapter_services",
				"tags": ["adapter-services"],
				"responses": {
					"204": {
						"description": "No content"
					}
				},
				"x-frontal-source": ["workflows/backend/engine/internal/api/http.go"],
				"x-frontal-sync-date": "2026-05-13",
				"x-frontal-any": true
			},
			"options": {
				"summary": "OPTIONS /v1/adapter-services/",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "options_v1_adapter_services",
				"tags": ["adapter-services"],
				"responses": {
					"204": {
						"description": "No content"
					}
				},
				"x-frontal-source": ["workflows/backend/engine/internal/api/http.go"],
				"x-frontal-sync-date": "2026-05-13",
				"x-frontal-any": true
			},
			"head": {
				"summary": "HEAD /v1/adapter-services/",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "head_v1_adapter_services",
				"tags": ["adapter-services"],
				"responses": {
					"204": {
						"description": "No content"
					}
				},
				"x-frontal-source": ["workflows/backend/engine/internal/api/http.go"],
				"x-frontal-sync-date": "2026-05-13",
				"x-frontal-any": true
			}
		},
		"/v1/auth/login": {
			"post": {
				"summary": "POST /v1/auth/login",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "post_v1_auth_login",
				"tags": ["auth"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["billing/backend/platform/openapi.yaml"],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/auth/mfa/backup-codes/regenerate": {
			"post": {
				"summary": "POST /v1/auth/mfa/backup-codes/regenerate",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "post_v1_auth_mfa_backup_codes_regenerate",
				"tags": ["auth"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"frontal/backend/conversations/src/auth/mfa.controller.ts"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/auth/mfa/disable": {
			"post": {
				"summary": "POST /v1/auth/mfa/disable",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "post_v1_auth_mfa_disable",
				"tags": ["auth"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"frontal/backend/conversations/src/auth/mfa.controller.ts"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/auth/mfa/enable": {
			"post": {
				"summary": "POST /v1/auth/mfa/enable",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "post_v1_auth_mfa_enable",
				"tags": ["auth"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"frontal/backend/conversations/src/auth/mfa.controller.ts"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/auth/mfa/setup": {
			"post": {
				"summary": "POST /v1/auth/mfa/setup",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "post_v1_auth_mfa_setup",
				"tags": ["auth"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"frontal/backend/conversations/src/auth/mfa.controller.ts"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/auth/mfa/status": {
			"get": {
				"summary": "GET /v1/auth/mfa/status",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_auth_mfa_status",
				"tags": ["auth"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"frontal/backend/conversations/src/auth/mfa.controller.ts"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/auth/mfa/verify": {
			"post": {
				"summary": "POST /v1/auth/mfa/verify",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "post_v1_auth_mfa_verify",
				"tags": ["auth"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"frontal/backend/conversations/src/auth/mfa.controller.ts"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/auth/signup": {
			"post": {
				"summary": "POST /v1/auth/signup",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "post_v1_auth_signup",
				"tags": ["auth"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["billing/backend/platform/openapi.yaml"],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/connection-tests/{connectionTestId}": {
			"parameters": [
				{
					"name": "connectionTestId",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string"
					},
					"description": "Path parameter: connectionTestId"
				}
			],
			"get": {
				"summary": "GET /v1/connection-tests/{connectionTestId}",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_connection_tests_connectiontestid",
				"tags": ["connection-tests"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"frontal/backend/integrations/src/rest/routes/connection-tests.controller.ts"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/aggregations/aggregations": {
			"get": {
				"summary": "GET /v1/data/aggregations/aggregations",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_aggregations_aggregations",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/aggregation/src/data_aggregation/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			},
			"post": {
				"summary": "POST /v1/data/aggregations/aggregations",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "post_v1_data_aggregations_aggregations",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/aggregation/src/data_aggregation/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/aggregations/aggregations/{aggregation_id}": {
			"parameters": [
				{
					"name": "aggregation_id",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string"
					},
					"description": "Path parameter: aggregation_id"
				}
			],
			"get": {
				"summary": "GET /v1/data/aggregations/aggregations/{aggregation_id}",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_aggregations_aggregations_aggregation_id",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/aggregation/src/data_aggregation/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/aggregations/aggregations/{aggregation_id}/executions": {
			"parameters": [
				{
					"name": "aggregation_id",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string"
					},
					"description": "Path parameter: aggregation_id"
				}
			],
			"post": {
				"summary": "POST /v1/data/aggregations/aggregations/{aggregation_id}/executions",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "post_v1_data_aggregations_aggregations_aggregation_id_executions",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/aggregation/src/data_aggregation/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/aggregations/capabilities": {
			"get": {
				"summary": "GET /v1/data/aggregations/capabilities",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_aggregations_capabilities",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/aggregation/src/data_aggregation/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/aggregations/health": {
			"get": {
				"summary": "GET /v1/data/aggregations/health",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_aggregations_health",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/aggregation/src/data_aggregation/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/aggregations/info": {
			"get": {
				"summary": "GET /v1/data/aggregations/info",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_aggregations_info",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/aggregation/src/data_aggregation/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/aggregations/runs": {
			"get": {
				"summary": "GET /v1/data/aggregations/runs",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_aggregations_runs",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/aggregation/src/data_aggregation/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			},
			"post": {
				"summary": "POST /v1/data/aggregations/runs",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "post_v1_data_aggregations_runs",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/aggregation/src/data_aggregation/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/aggregations/runs/{run_id}": {
			"parameters": [
				{
					"name": "run_id",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string"
					},
					"description": "Path parameter: run_id"
				}
			],
			"get": {
				"summary": "GET /v1/data/aggregations/runs/{run_id}",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_aggregations_runs_run_id",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/aggregation/src/data_aggregation/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/archival/archival/policies": {
			"get": {
				"summary": "GET /v1/data/archival/archival/policies",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_archival_archival_policies",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/archival/src/data_archival/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			},
			"post": {
				"summary": "POST /v1/data/archival/archival/policies",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "post_v1_data_archival_archival_policies",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/archival/src/data_archival/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/archival/archival/policies/{policy_id}": {
			"parameters": [
				{
					"name": "policy_id",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string"
					},
					"description": "Path parameter: policy_id"
				}
			],
			"get": {
				"summary": "GET /v1/data/archival/archival/policies/{policy_id}",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_archival_archival_policies_policy_id",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/archival/src/data_archival/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/archival/archival/policies/{policy_id}/executions": {
			"parameters": [
				{
					"name": "policy_id",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string"
					},
					"description": "Path parameter: policy_id"
				}
			],
			"post": {
				"summary": "POST /v1/data/archival/archival/policies/{policy_id}/executions",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "post_v1_data_archival_archival_policies_policy_id_executions",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/archival/src/data_archival/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/archival/capabilities": {
			"get": {
				"summary": "GET /v1/data/archival/capabilities",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_archival_capabilities",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/archival/src/data_archival/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/archival/health": {
			"get": {
				"summary": "GET /v1/data/archival/health",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_archival_health",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/archival/src/data_archival/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/archival/info": {
			"get": {
				"summary": "GET /v1/data/archival/info",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_archival_info",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/archival/src/data_archival/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/archival/runs": {
			"get": {
				"summary": "GET /v1/data/archival/runs",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_archival_runs",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/archival/src/data_archival/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			},
			"post": {
				"summary": "POST /v1/data/archival/runs",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "post_v1_data_archival_runs",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/archival/src/data_archival/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/archival/runs/{run_id}": {
			"parameters": [
				{
					"name": "run_id",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string"
					},
					"description": "Path parameter: run_id"
				}
			],
			"get": {
				"summary": "GET /v1/data/archival/runs/{run_id}",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_archival_runs_run_id",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/archival/src/data_archival/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/catalog/capabilities": {
			"get": {
				"summary": "GET /v1/data/catalog/capabilities",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_catalog_capabilities",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/catalog/src/data_catalog/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/catalog/catalog/datasets": {
			"get": {
				"summary": "GET /v1/data/catalog/catalog/datasets",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_catalog_catalog_datasets",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/catalog/src/data_catalog/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/catalog/catalog/datasets/{dataset_id}": {
			"parameters": [
				{
					"name": "dataset_id",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string"
					},
					"description": "Path parameter: dataset_id"
				}
			],
			"get": {
				"summary": "GET /v1/data/catalog/catalog/datasets/{dataset_id}",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_catalog_catalog_datasets_dataset_id",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/catalog/src/data_catalog/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/catalog/catalog/datasets/{dataset_id}/artifacts/{manifest_id}/content": {
			"parameters": [
				{
					"name": "dataset_id",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string"
					},
					"description": "Path parameter: dataset_id"
				},
				{
					"name": "manifest_id",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string"
					},
					"description": "Path parameter: manifest_id"
				}
			],
			"get": {
				"summary": "GET /v1/data/catalog/catalog/datasets/{dataset_id}/artifacts/{manifest_id}/content",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_catalog_catalog_datasets_dataset_id_artifacts_manifest_id_content",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/catalog/src/data_catalog/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/catalog/catalog/sources": {
			"get": {
				"summary": "GET /v1/data/catalog/catalog/sources",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_catalog_catalog_sources",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/catalog/src/data_catalog/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/catalog/catalog/sources/{source_id}": {
			"parameters": [
				{
					"name": "source_id",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string"
					},
					"description": "Path parameter: source_id"
				}
			],
			"get": {
				"summary": "GET /v1/data/catalog/catalog/sources/{source_id}",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_catalog_catalog_sources_source_id",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/catalog/src/data_catalog/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/catalog/health": {
			"get": {
				"summary": "GET /v1/data/catalog/health",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_catalog_health",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/catalog/src/data_catalog/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/catalog/info": {
			"get": {
				"summary": "GET /v1/data/catalog/info",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_catalog_info",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/catalog/src/data_catalog/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/catalog/runs": {
			"get": {
				"summary": "GET /v1/data/catalog/runs",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_catalog_runs",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/catalog/src/data_catalog/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			},
			"post": {
				"summary": "POST /v1/data/catalog/runs",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "post_v1_data_catalog_runs",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/catalog/src/data_catalog/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/catalog/runs/{run_id}": {
			"parameters": [
				{
					"name": "run_id",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string"
					},
					"description": "Path parameter: run_id"
				}
			],
			"get": {
				"summary": "GET /v1/data/catalog/runs/{run_id}",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_catalog_runs_run_id",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/catalog/src/data_catalog/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/enrichment/capabilities": {
			"get": {
				"summary": "GET /v1/data/enrichment/capabilities",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_enrichment_capabilities",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/enrichment/src/data_enrichment/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/enrichment/enrichment/profiles": {
			"get": {
				"summary": "GET /v1/data/enrichment/enrichment/profiles",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_enrichment_enrichment_profiles",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/enrichment/src/data_enrichment/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			},
			"post": {
				"summary": "POST /v1/data/enrichment/enrichment/profiles",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "post_v1_data_enrichment_enrichment_profiles",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/enrichment/src/data_enrichment/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/enrichment/enrichment/profiles/{profile_id}": {
			"parameters": [
				{
					"name": "profile_id",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string"
					},
					"description": "Path parameter: profile_id"
				}
			],
			"get": {
				"summary": "GET /v1/data/enrichment/enrichment/profiles/{profile_id}",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_enrichment_enrichment_profiles_profile_id",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/enrichment/src/data_enrichment/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/enrichment/enrichment/profiles/{profile_id}/executions": {
			"parameters": [
				{
					"name": "profile_id",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string"
					},
					"description": "Path parameter: profile_id"
				}
			],
			"post": {
				"summary": "POST /v1/data/enrichment/enrichment/profiles/{profile_id}/executions",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "post_v1_data_enrichment_enrichment_profiles_profile_id_executions",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/enrichment/src/data_enrichment/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/enrichment/health": {
			"get": {
				"summary": "GET /v1/data/enrichment/health",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_enrichment_health",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/enrichment/src/data_enrichment/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/enrichment/info": {
			"get": {
				"summary": "GET /v1/data/enrichment/info",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_enrichment_info",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/enrichment/src/data_enrichment/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/enrichment/runs": {
			"get": {
				"summary": "GET /v1/data/enrichment/runs",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_enrichment_runs",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/enrichment/src/data_enrichment/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			},
			"post": {
				"summary": "POST /v1/data/enrichment/runs",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "post_v1_data_enrichment_runs",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/enrichment/src/data_enrichment/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/enrichment/runs/{run_id}": {
			"parameters": [
				{
					"name": "run_id",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string"
					},
					"description": "Path parameter: run_id"
				}
			],
			"get": {
				"summary": "GET /v1/data/enrichment/runs/{run_id}",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_enrichment_runs_run_id",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/enrichment/src/data_enrichment/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/exports/capabilities": {
			"get": {
				"summary": "GET /v1/data/exports/capabilities",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_exports_capabilities",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/export/src/data_export/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/exports/exports": {
			"get": {
				"summary": "GET /v1/data/exports/exports",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_exports_exports",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/export/src/data_export/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			},
			"post": {
				"summary": "POST /v1/data/exports/exports",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "post_v1_data_exports_exports",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/export/src/data_export/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/exports/exports/{export_id}": {
			"parameters": [
				{
					"name": "export_id",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string"
					},
					"description": "Path parameter: export_id"
				}
			],
			"get": {
				"summary": "GET /v1/data/exports/exports/{export_id}",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_exports_exports_export_id",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/export/src/data_export/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/exports/exports/{export_id}/executions": {
			"parameters": [
				{
					"name": "export_id",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string"
					},
					"description": "Path parameter: export_id"
				}
			],
			"post": {
				"summary": "POST /v1/data/exports/exports/{export_id}/executions",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "post_v1_data_exports_exports_export_id_executions",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/export/src/data_export/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/exports/health": {
			"get": {
				"summary": "GET /v1/data/exports/health",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_exports_health",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/export/src/data_export/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/exports/info": {
			"get": {
				"summary": "GET /v1/data/exports/info",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_exports_info",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/export/src/data_export/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/exports/runs": {
			"get": {
				"summary": "GET /v1/data/exports/runs",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_exports_runs",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/export/src/data_export/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			},
			"post": {
				"summary": "POST /v1/data/exports/runs",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "post_v1_data_exports_runs",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/export/src/data_export/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/exports/runs/{run_id}": {
			"parameters": [
				{
					"name": "run_id",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string"
					},
					"description": "Path parameter: run_id"
				}
			],
			"get": {
				"summary": "GET /v1/data/exports/runs/{run_id}",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_exports_runs_run_id",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/export/src/data_export/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/ingest/capabilities": {
			"get": {
				"summary": "GET /v1/data/ingest/capabilities",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_ingest_capabilities",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/ingestion/src/data_ingest/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/ingest/datasets": {
			"get": {
				"summary": "GET /v1/data/ingest/datasets",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_ingest_datasets",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/ingestion/src/data_ingest/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/ingest/datasets/{dataset_id}": {
			"parameters": [
				{
					"name": "dataset_id",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string"
					},
					"description": "Path parameter: dataset_id"
				}
			],
			"get": {
				"summary": "GET /v1/data/ingest/datasets/{dataset_id}",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_ingest_datasets_dataset_id",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/ingestion/src/data_ingest/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/ingest/datasets/{dataset_id}/artifacts/{manifest_id}/content": {
			"parameters": [
				{
					"name": "dataset_id",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string"
					},
					"description": "Path parameter: dataset_id"
				},
				{
					"name": "manifest_id",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string"
					},
					"description": "Path parameter: manifest_id"
				}
			],
			"get": {
				"summary": "GET /v1/data/ingest/datasets/{dataset_id}/artifacts/{manifest_id}/content",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_ingest_datasets_dataset_id_artifacts_manifest_id_content",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/ingestion/src/data_ingest/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/ingest/datasets/ingest": {
			"post": {
				"summary": "POST /v1/data/ingest/datasets/ingest",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "post_v1_data_ingest_datasets_ingest",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/ingestion/src/data_ingest/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/ingest/health": {
			"get": {
				"summary": "GET /v1/data/ingest/health",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_ingest_health",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/ingestion/src/data_ingest/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/ingest/info": {
			"get": {
				"summary": "GET /v1/data/ingest/info",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_ingest_info",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/ingestion/src/data_ingest/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/ingest/runs": {
			"get": {
				"summary": "GET /v1/data/ingest/runs",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_ingest_runs",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/ingestion/src/data_ingest/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			},
			"post": {
				"summary": "POST /v1/data/ingest/runs",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "post_v1_data_ingest_runs",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/ingestion/src/data_ingest/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/ingest/runs/{run_id}": {
			"parameters": [
				{
					"name": "run_id",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string"
					},
					"description": "Path parameter: run_id"
				}
			],
			"get": {
				"summary": "GET /v1/data/ingest/runs/{run_id}",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_ingest_runs_run_id",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/ingestion/src/data_ingest/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/ingest/schemas": {
			"get": {
				"summary": "GET /v1/data/ingest/schemas",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_ingest_schemas",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/ingestion/src/data_ingest/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/ingest/schemas/{schema_ref}": {
			"parameters": [
				{
					"name": "schema_ref",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string"
					},
					"description": "Path parameter: schema_ref"
				}
			],
			"get": {
				"summary": "GET /v1/data/ingest/schemas/{schema_ref}",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_ingest_schemas_schema_ref",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/ingestion/src/data_ingest/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/normalization/capabilities": {
			"get": {
				"summary": "GET /v1/data/normalization/capabilities",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_normalization_capabilities",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/normalization/src/data_normalization/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/normalization/health": {
			"get": {
				"summary": "GET /v1/data/normalization/health",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_normalization_health",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/normalization/src/data_normalization/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/normalization/info": {
			"get": {
				"summary": "GET /v1/data/normalization/info",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_normalization_info",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/normalization/src/data_normalization/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/normalization/normalization/profiles": {
			"get": {
				"summary": "GET /v1/data/normalization/normalization/profiles",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_normalization_normalization_profiles",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/normalization/src/data_normalization/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			},
			"post": {
				"summary": "POST /v1/data/normalization/normalization/profiles",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "post_v1_data_normalization_normalization_profiles",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/normalization/src/data_normalization/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/normalization/normalization/profiles/{profile_id}": {
			"parameters": [
				{
					"name": "profile_id",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string"
					},
					"description": "Path parameter: profile_id"
				}
			],
			"get": {
				"summary": "GET /v1/data/normalization/normalization/profiles/{profile_id}",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_normalization_normalization_profiles_profile_id",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/normalization/src/data_normalization/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/normalization/normalization/profiles/{profile_id}/executions": {
			"parameters": [
				{
					"name": "profile_id",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string"
					},
					"description": "Path parameter: profile_id"
				}
			],
			"post": {
				"summary": "POST /v1/data/normalization/normalization/profiles/{profile_id}/executions",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "post_v1_data_normalization_normalization_profiles_profile_id_executions",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/normalization/src/data_normalization/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/normalization/runs": {
			"get": {
				"summary": "GET /v1/data/normalization/runs",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_normalization_runs",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/normalization/src/data_normalization/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			},
			"post": {
				"summary": "POST /v1/data/normalization/runs",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "post_v1_data_normalization_runs",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/normalization/src/data_normalization/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/normalization/runs/{run_id}": {
			"parameters": [
				{
					"name": "run_id",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string"
					},
					"description": "Path parameter: run_id"
				}
			],
			"get": {
				"summary": "GET /v1/data/normalization/runs/{run_id}",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_normalization_runs_run_id",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/normalization/src/data_normalization/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/pipelines/capabilities": {
			"get": {
				"summary": "GET /v1/data/pipelines/capabilities",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_pipelines_capabilities",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/pipeline/src/pipeline_engine/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/pipelines/health": {
			"get": {
				"summary": "GET /v1/data/pipelines/health",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_pipelines_health",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/pipeline/src/pipeline_engine/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/pipelines/info": {
			"get": {
				"summary": "GET /v1/data/pipelines/info",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_pipelines_info",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/pipeline/src/pipeline_engine/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/pipelines/pipeline-runs": {
			"get": {
				"summary": "GET /v1/data/pipelines/pipeline-runs",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_pipelines_pipeline_runs",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/pipeline/src/pipeline_engine/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/pipelines/pipeline-runs/{run_id}": {
			"parameters": [
				{
					"name": "run_id",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string"
					},
					"description": "Path parameter: run_id"
				}
			],
			"get": {
				"summary": "GET /v1/data/pipelines/pipeline-runs/{run_id}",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_pipelines_pipeline_runs_run_id",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/pipeline/src/pipeline_engine/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/pipelines/pipelines": {
			"get": {
				"summary": "GET /v1/data/pipelines/pipelines",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_pipelines_pipelines",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/pipeline/src/pipeline_engine/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			},
			"post": {
				"summary": "POST /v1/data/pipelines/pipelines",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "post_v1_data_pipelines_pipelines",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/pipeline/src/pipeline_engine/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/pipelines/pipelines/{definition_id}": {
			"parameters": [
				{
					"name": "definition_id",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string"
					},
					"description": "Path parameter: definition_id"
				}
			],
			"get": {
				"summary": "GET /v1/data/pipelines/pipelines/{definition_id}",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_pipelines_pipelines_definition_id",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/pipeline/src/pipeline_engine/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/pipelines/runs": {
			"get": {
				"summary": "GET /v1/data/pipelines/runs",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_pipelines_runs",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/pipeline/src/pipeline_engine/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			},
			"post": {
				"summary": "POST /v1/data/pipelines/runs",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "post_v1_data_pipelines_runs",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/pipeline/src/pipeline_engine/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/pipelines/runs/{run_id}": {
			"parameters": [
				{
					"name": "run_id",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string"
					},
					"description": "Path parameter: run_id"
				}
			],
			"get": {
				"summary": "GET /v1/data/pipelines/runs/{run_id}",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_pipelines_runs_run_id",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/pipeline/src/pipeline_engine/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/quality/capabilities": {
			"get": {
				"summary": "GET /v1/data/quality/capabilities",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_quality_capabilities",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/quality/src/data_quality/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/quality/health": {
			"get": {
				"summary": "GET /v1/data/quality/health",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_quality_health",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/quality/src/data_quality/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/quality/info": {
			"get": {
				"summary": "GET /v1/data/quality/info",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_quality_info",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/quality/src/data_quality/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/quality/quality/rulesets": {
			"get": {
				"summary": "GET /v1/data/quality/quality/rulesets",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_quality_quality_rulesets",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/quality/src/data_quality/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			},
			"post": {
				"summary": "POST /v1/data/quality/quality/rulesets",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "post_v1_data_quality_quality_rulesets",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/quality/src/data_quality/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/quality/quality/rulesets/{ruleset_id}": {
			"parameters": [
				{
					"name": "ruleset_id",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string"
					},
					"description": "Path parameter: ruleset_id"
				}
			],
			"get": {
				"summary": "GET /v1/data/quality/quality/rulesets/{ruleset_id}",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_quality_quality_rulesets_ruleset_id",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/quality/src/data_quality/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/quality/quality/rulesets/{ruleset_id}/evaluations": {
			"parameters": [
				{
					"name": "ruleset_id",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string"
					},
					"description": "Path parameter: ruleset_id"
				}
			],
			"post": {
				"summary": "POST /v1/data/quality/quality/rulesets/{ruleset_id}/evaluations",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "post_v1_data_quality_quality_rulesets_ruleset_id_evaluations",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/quality/src/data_quality/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/quality/runs": {
			"get": {
				"summary": "GET /v1/data/quality/runs",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_quality_runs",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/quality/src/data_quality/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			},
			"post": {
				"summary": "POST /v1/data/quality/runs",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "post_v1_data_quality_runs",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/quality/src/data_quality/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/quality/runs/{run_id}": {
			"parameters": [
				{
					"name": "run_id",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string"
					},
					"description": "Path parameter: run_id"
				}
			],
			"get": {
				"summary": "GET /v1/data/quality/runs/{run_id}",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_quality_runs_run_id",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/quality/src/data_quality/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/query/capabilities": {
			"get": {
				"summary": "GET /v1/data/query/capabilities",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_query_capabilities",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/query/src/query_engine/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/query/health": {
			"get": {
				"summary": "GET /v1/data/query/health",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_query_health",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/query/src/query_engine/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/query/info": {
			"get": {
				"summary": "GET /v1/data/query/info",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_query_info",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/query/src/query_engine/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/query/query/federated": {
			"post": {
				"summary": "POST /v1/data/query/query/federated",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "post_v1_data_query_query_federated",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/query/src/query_engine/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/query/runs": {
			"get": {
				"summary": "GET /v1/data/query/runs",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_query_runs",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/query/src/query_engine/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			},
			"post": {
				"summary": "POST /v1/data/query/runs",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "post_v1_data_query_runs",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/query/src/query_engine/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/query/runs/{run_id}": {
			"parameters": [
				{
					"name": "run_id",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string"
					},
					"description": "Path parameter: run_id"
				}
			],
			"get": {
				"summary": "GET /v1/data/query/runs/{run_id}",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_query_runs_run_id",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/query/src/query_engine/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/schemas/capabilities": {
			"get": {
				"summary": "GET /v1/data/schemas/capabilities",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_schemas_capabilities",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/schema_registry/src/data_schema_registry/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/schemas/health": {
			"get": {
				"summary": "GET /v1/data/schemas/health",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_schemas_health",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/schema_registry/src/data_schema_registry/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/schemas/info": {
			"get": {
				"summary": "GET /v1/data/schemas/info",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_schemas_info",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/schema_registry/src/data_schema_registry/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/schemas/runs": {
			"get": {
				"summary": "GET /v1/data/schemas/runs",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_schemas_runs",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/schema_registry/src/data_schema_registry/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			},
			"post": {
				"summary": "POST /v1/data/schemas/runs",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "post_v1_data_schemas_runs",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/schema_registry/src/data_schema_registry/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/schemas/runs/{run_id}": {
			"parameters": [
				{
					"name": "run_id",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string"
					},
					"description": "Path parameter: run_id"
				}
			],
			"get": {
				"summary": "GET /v1/data/schemas/runs/{run_id}",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_schemas_runs_run_id",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/schema_registry/src/data_schema_registry/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/schemas/schemas": {
			"get": {
				"summary": "GET /v1/data/schemas/schemas",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_schemas_schemas",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/schema_registry/src/data_schema_registry/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			},
			"post": {
				"summary": "POST /v1/data/schemas/schemas",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "post_v1_data_schemas_schemas",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/schema_registry/src/data_schema_registry/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/schemas/schemas/{schema_ref}": {
			"parameters": [
				{
					"name": "schema_ref",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string"
					},
					"description": "Path parameter: schema_ref"
				}
			],
			"get": {
				"summary": "GET /v1/data/schemas/schemas/{schema_ref}",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_schemas_schemas_schema_ref",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/schema_registry/src/data_schema_registry/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/schemas/schemas/resolve": {
			"post": {
				"summary": "POST /v1/data/schemas/schemas/resolve",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "post_v1_data_schemas_schemas_resolve",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": [
					"data/backend/schema_registry/src/data_schema_registry/router.py"
				],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/serving/capabilities": {
			"get": {
				"summary": "GET /v1/data/serving/capabilities",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_serving_capabilities",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/serving/src/data_serving/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/serving/health": {
			"get": {
				"summary": "GET /v1/data/serving/health",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_serving_health",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/serving/src/data_serving/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/serving/info": {
			"get": {
				"summary": "GET /v1/data/serving/info",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_serving_info",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/serving/src/data_serving/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/serving/runs": {
			"get": {
				"summary": "GET /v1/data/serving/runs",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_serving_runs",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/serving/src/data_serving/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			},
			"post": {
				"summary": "POST /v1/data/serving/runs",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "post_v1_data_serving_runs",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/serving/src/data_serving/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/serving/runs/{run_id}": {
			"parameters": [
				{
					"name": "run_id",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string"
					},
					"description": "Path parameter: run_id"
				}
			],
			"get": {
				"summary": "GET /v1/data/serving/runs/{run_id}",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_serving_runs_run_id",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/serving/src/data_serving/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/serving/serving/products": {
			"get": {
				"summary": "GET /v1/data/serving/serving/products",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_serving_serving_products",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/serving/src/data_serving/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			},
			"post": {
				"summary": "POST /v1/data/serving/serving/products",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "post_v1_data_serving_serving_products",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/serving/src/data_serving/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/serving/serving/products/{product_id}": {
			"parameters": [
				{
					"name": "product_id",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string"
					},
					"description": "Path parameter: product_id"
				}
			],
			"get": {
				"summary": "GET /v1/data/serving/serving/products/{product_id}",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_serving_serving_products_product_id",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/serving/src/data_serving/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/serving/serving/products/{product_id}/refreshes": {
			"parameters": [
				{
					"name": "product_id",
					"in": "path",
					"required": true,
					"schema": {
						"type": "string"
					},
					"description": "Path parameter: product_id"
				}
			],
			"post": {
				"summary": "POST /v1/data/serving/serving/products/{product_id}/refreshes",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "post_v1_data_serving_serving_products_product_id_refreshes",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/serving/src/data_serving/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/streams/capabilities": {
			"get": {
				"summary": "GET /v1/data/streams/capabilities",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_streams_capabilities",
				"tags": ["data"],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": true
								}
							}
						}
					}
				},
				"x-frontal-source": ["data/backend/streams/src/data_streams/router.py"],
				"x-frontal-sync-date": "2026-05-13"
			}
		},
		"/v1/data/streams/health": {
			"get": {
				"summary": "GET /v1/data/streams/health",
				"description": "Synchronized from the frontal route inventory.",
				"operationId": "get_v1_data_streams_health",
				"tags": ["data"],
[...]
